
header {
  font-family: choloope;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  background-color: black;
  height: 80px;
}

.nav__image {
  display: flex;
}

.nav {
  font-family: choloope;
  display: flex;
  gap: 23px;
  width: 80%;
  justify-content: space-around;
}

.nav__info {
  width: 30%;
  gap: 15px;
  justify-content: center;
  display: flex;
  gap: 21px;
}

.nav__info--button {
  font-family: fantasy;
font-style: normal;
color: #FFFFFF;
width: 150px;
text-align: center;
}


.navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 60, 97);
  
}

.navigator__contain {
  display: flex;
  justify-content: center;
  background-position-x: center;
  width: 100%;
  background-image: url(images/imgonline-com-ua-Resize-FnR7bcf8yvZz5ddy.png);
  height: 575px;
}

.navigator__left__bar, .navigator__right__bar {
  width: 200px;
  display: flex;
  gap: 15px;
  height: 50px;

}

@media screen and (max-width: 830px) {
  .navigator__left__bar, .navigator__right__bar {
  display: none;
  }
  
  
}


.navigator__image {
  margin: 0px 20px;
  height: 50px;
}

@media screen and (max-width: 830px) {
  .navigator {
    display: flex;
    justify-content: flex-start;

    
  }
}


